.main {
	height: 100%;
	margin-top: 25px;
	background-image: url('../assets/img/Cover.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: bold;
	color: $color-claro;
	&__container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		text-align: center;
		height: 100%;
		&__title {
			font-family: 'Roboto mono', monospace;
		}
	}
}
